<h1> Favorites </h1>
<br>

<% if @places.empty? %>
  <h2>No places to show</h2>
<% else %>
  <% @places.each do |place| %>
    <div class="location-div">
      <%= place.name %> 
      <h1 class="location-rating"> <%= place.occupancy %> </h1>
      <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">
          <%= button_to "Map", places_path, class: "btn btn-default", method: :get %>
          <%= button_to "Info", place_path(place), class: "btn btn-default", method: :get %>
          <%= button_to "Rate", edit_place_path(place), class: "btn btn-default", method: :get %>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
