<%= stylesheet_link_tag 'rating' %>
<%= javascript_include_tag 'rating' %>
<h1> Rate this location: </h1>

<div id="location-rate-div">
    <h3 id="location-rate"> <%= @place.name %> </h3>
</div>

<br>

<p class="text-center">0 stars - Empty</p>
<p class="text-center">1 star - Almost no others</p>
<p class="text-center">2 stars - Several others</p>
<p class="text-center">3 stars - Moderately busy</p>
<p class="text-center">4 stars - Uncomfortably packed</p>
<p class="text-center">5 stars - Completely packed</p>

<div class="rate">
  <span class="rating big-red" data-default-rating="0"></span>
</div>
<br>

<div class="span7 text-center">
<%= form_tag place_occupancy_day_path(@occupancy_day, place_id: @place.id), method: :put do %>
    <%= hidden_field_tag "occupancy", "" %>
    <%= submit_tag "Rate", id: "check-map-button", class: "btn btn-primary btn-lg" %>
<% end %>
</div>
<br>

<% if session[:user] %>
    <div class="add-to-favorites-div">
        <h3 class="add-to-favorites"> Add to favorites! </h3>
    </div>
    <div class="span7 text-center">
        <%= form_tag user_favorites_path(user_id: session[:user]["id"], place_id: @place.id) do %>
            <%= submit_tag "Favorite", id: "check-map-button", class: "btn btn-primary btn-lg" %>
        <% end %>
    </div>
<% end %>
<br>

<div id="share-rating">
    <h3 id="share-rate-id"> Share your rating! </h3>
</div>

<div class="span7 text-center">
    <input id="check-map-button" class="btn btn-primary btn-lg" type="submit" value="Twitter">
</div>

<br>

<div class="span7 text-center">
    <input id="check-map-button" class="btn btn-primary btn-lg" type="submit" value="Facebook">
</div>

<script>
    var rating = document.getElementsByClassName('rating');
    var occupancy_field = document.getElementById('occupancy');
    for (var i = 0; i < ratings.length; i++) {
        var r = new SimpleStarRating(ratings[i]);
        ratings[i].addEventListener('rate', function(e) {
            occupancy_field.value = e.detail;
        });
    }
</script>