<%= javascript_include_tag 'map' %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search Map</button>
      </span>
    </div>
    <br>
  </div>
</div>
<!-- <%= @occupancies.each do |occupancy| %>
  <p><%= occupancy %></p>
<% end %>
<br>
-->
<%= @markers %>
<div class="col-xs-6 col-xs-offset-3">
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<div class="location-div">
  Shapiro Undergraduate Library  
  <h1 class="location-rating"> 3 </h1>
  <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">
      <button type="button" class="btn btn-default">Map</button>
      <button type="button" class="btn btn-default">Info</button>
      <button type="button" class="btn btn-default">Rate</button>
      <button type="button" class="btn btn-default">Favorite</button>
  </div>
</div>  
<script>

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
    
</script>
<!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALhlJTIEnwDA5_hVOIsF1-tHuUar6CLm8&callback=initMap">
</script> -->