<%= javascript_include_tag 'map' %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <%= form_tag "/places", method: "get", class: "input-group" do %>
      <%= text_field_tag :query, nil, placeholder: "Search Map", class: "form-control" %>
      <span class="input-group-btn">
      <%= submit_tag "Search Map", id: "search-map-button", class: "btn btn-default" %>
      </span>
  <% end %>
    <br>
  </div>
</div>
<!-- <%= @occupancies.each do |occupancy| %>
  <p><%= occupancy %></p>
<% end %>
<br>
-->
<div class="col-xs-6 col-xs-offset-3">
  <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<div class="location-div">
  <%= @closest.name %> 
  <h1 class="location-rating"> <%= @closest.occupancy %> </h1>
  <div class="btn-group btn-group-lg location-options" role="group" aria-label="...">

      <%= button_to "Map", places_path, class: "btn btn-default", method: :get %>
      <%= button_to "Info", place_path(@closest), class: "btn btn-default", method: :get %>
      <%= button_to "Rate", edit_place_path(@closest), class: "btn btn-default", method: :get %>
      <button type="button" class="btn btn-default">Favorite</button>
  </div>
</div>  
<script>

  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
    
</script>
<!-- <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALhlJTIEnwDA5_hVOIsF1-tHuUar6CLm8&callback=initMap">
</script> -->