  <div id="location-rate-div">
    <h3 id="location-rate"> <%= @place.name %> </h3>
  </div>
  <br>
  <div>
    <h3> Current Rating: </h3>
  </div>
  <div id="current-rating-div">
    <h3 id="current-rating"> <%= @place.occupancy %> </h3>
  </div>
  <br>

  <div class="span7 text-center">
    <%= button_to "Rate", edit_place_path(@place), class: "btn btn-primary btn-lg", method: :get %>
  </div>


  <br>
  <div class="graph_fancy">
    <span class="bar"></span>

    <span class="bar" style="height: 20%;" data-bar-label="7am" data-bar-value="66%"></span>
    <span class="bar" style="height: 25%;" data-bar-label="8" data-bar-value="66%"></span>
    <span class="bar" style="height: 40%;" data-bar-label="9" data-bar-value="66%"></span>
    <span class="bar" style="height: 50%;" data-bar-label="10" data-bar-value="66%"></span>
    <span class="bar" style="height: 55%;" data-bar-label="11" data-bar-value="66%"></span>
    <span class="bar" style="height: 60%;" data-bar-label="12" data-bar-value="66%"></span>
    <span class="bar" style="height: 75%;" data-bar-label="1" data-bar-value="66%"></span>
    <span class="bar" style="height: 85%;" data-bar-label="2" data-bar-value="66%"></span>
    <span class="bar" style="height: 70%;" data-bar-label="3" data-bar-value="66%"></span>
    <span class="bar" style="height: 80%;" data-bar-label="4" data-bar-value="66%"></span>
    <span class="bar" style="height: 85%;" data-bar-label="5" data-bar-value="66%"></span>
    <span class="bar" style="height: 75%;" data-bar-label="6" data-bar-value="66%"></span>
    <span class="bar" style="height: 70%;" data-bar-label="7" data-bar-value="66%"></span>
    <span class="bar" style="height: 90%;" data-bar-label="8" data-bar-value="66%"></span>
    <span class="bar" style="height: 85%;" data-bar-label="9" data-bar-value="66%"></span>
    <span class="bar" style="height: 65%;" data-bar-label="10" data-bar-value="66%"></span>
    <span class="bar" style="height: 55%;" data-bar-label="11" data-bar-value="66%"></span>
    <span class="bar" style="height: 45%;" data-bar-label="12am" data-bar-value="66%"></span>
    <!-- more bars here -->
  </div>

  <div id="graph-axis">
    <h3 id="graph-x-axis"> Time of Day </h3>
  </div>
  <br>
  <br>

  <div id="location-rate-div">
    <h3 id="location-rate"> Address </h3>
  </div>
  <br>

  <div id="address-div">
    <h3 id="address"> <%= @place.address %> </h3>
  </div>
  <br>

  <div id="location-rate-div">
    <h3 id="location-rate"> Phone </h3>
  </div>
  <br>

  <div id="phone-num-div">
    <h3 id="phone-num"> 534-342-4323 </h3>
  </div>
  <br>

  <% if session[:user] %>
    <div class="add-to-favorites-div">
        <h3 class="add-to-favorites"> Add to favorites! </h3>
    </div>
    <div class="span7 text-center">
        <%= form_tag user_favorites_path(user_id: session[:user]["id"], place_id: @place.id) do %>
            <%= submit_tag "Favorite", id: "check-map-button", class: "btn btn-primary btn-lg" %>
        <% end %>
    </div>
<% end %>